body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 20px auto;
    max-width: 300px;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:darkblue;
    cursor: pointer;
}

.message {
    margin-top: 10px;
    font-weight: bold;
}

.reset-button {
    margin-top: 10px;
    background-color:aqua;
    color: blue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.reset-button:hover {
    background-color:palevioletred;
}